body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: xx-large;
}
input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.col1 {
    float: left;
    width: 40%;
    padding: 10px;
}
.col2 {
    float: left;
    width: 80%; 
    padding: 10px;
}
#mensaje {
    float:left;
    width: 80%;
}
.error {
    background-color: rosybrown;
    color:red;
}
.info {
    background-color:green;
    color: lawngreen;
}